h2 {
    text-align: center;
}

.content{
    display: flex;
    width:50%;
    height: 550px;
}
.pai-options {
    display: flex;
    flex-direction: column;
    gap:30px;
}

.options {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
}


@media(max-width:1500px){
    .content {
        flex-direction: column;
        gap: 20px;
        height: auto;
    }
}