h2 {
    text-align: center;
}

.content{
    display: flex;
    width:70%;
    height: 550px;
}
.form-container {
    width: auto;
}

.pai-options {
    display: flex;
    flex-direction: column;
    gap:30px;
}
.delete-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
select {
    width: 80%;
}

.options {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
}
.btn-del {
    border-radius: 5px;
}

@media(max-width:1500px){
    .pai-options {
        flex-direction: row;
    }
    .content {
        flex-direction: column;
        gap: 20px;
        height: auto;
    }
}