*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#grifao{
    width: 30%;
}

.form-login{
    border-radius: 5px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}
input {
    margin-bottom: 10px;
    width: 300px;    
    padding: 10px;    
}
button {
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 5px;
}

a {
    margin-top: 10px;
    font-size: 1rem;
    color: black;
}
a:hover{
    color: rgb(110, 98, 98);
}
