body {
    margin:0;
}

header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.iconheader img{
    width: 20%;
    height:auto;
    margin-left: 5%;
}

.meiopag{
    background-image: url("../images/background.jpg");
    display: flex;    
    justify-content: space-around;
    align-items: center;
}

.textosintro{
    width: 40%;
}

.textosintro p{
    font-size: 23px;
    color:white;
    border-radius: 25px;
    background-color: #750000;
    padding: 2%;
}

#grifao{
    width: 36%;
}

footer {
    color: #EEEEEE;
    background-color: black;
    text-align: center;
    padding: 2%;
}

.button-avisos, .button-loja {
    background-color: #750000;
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 6px;
}

.button-avisos:hover, .button-loja:hover {
    opacity: 0.8;
}