<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
     <img src="/images/grifo_roda.png" alt="grifao" id="grifao">
     <form class="form-login"  th:action="@{/login}" method="post">
        <label for="email">Email</label>
        <input type="email" placeholder="Email (@ime.eb.br)" id="email">
        <label for="password">Senha</label>
        <input type="password" placeholder="Senha" id="password">
        <button type="submit">Entrar</button>
        <a href="">Esqueceu sua senha?</a>
    </form>
    <script src="scripts/login.js" charset="utf-8"></script>
</body>

</html>