<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign Up - CodeJava</title>
</head>
<body>

    <h1>User Registration - Sign Up</h1>
    
    <!-- FORMULARIO -->
    <form th:action="@{/process_register}" th:object="${user}"
        method="post" style="max-width: 600px; margin: 0 auto;">
        
        <!-- Email field -->
        <label>E-mail: </label>
        <input type="email" th:field="*{email}" required />

        <!-- Password field -->
        <label>Password: </label>
        <input type="password" th:field="*{password}" required minlength="6" maxlength="10"/>
        <!-- First Name field -->            
        <label>First Name: </label>        
        <input type="text" th:field="*{firstName}"
                        required minlength="2" maxlength="20"/>
        <!-- Last Name field -->            
        <label>Last Name: </label>    
        <input type="text" th:field="*{lastName}"
                        required minlength="2" maxlength="20" />                            
        <!-- Submit button -->            
        <button type="submit">Sign Up</button>                    
    </form>
</body>
</html>